<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633601687082-pl7j216bi5qhje2rckpmk5ondet5jet2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633601687082-pl7j216bi5qhje2rckpmk5ondet5jet2</string>
	<key>API_KEY</key>
	<string>AIzaSyAeYanHpMDqc7vHp_LY__eiJjnfZeQcK3M</string>
	<key>GCM_SENDER_ID</key>
	<string>633601687082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pro</string>
	<key>PROJECT_ID</key>
	<string>pro-1c00f</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-1c00f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633601687082:ios:0669609fb9506a3ad40d53</string>
</dict>
</plist>